@use '@/styles/variables' as *;

.hero {
    position: relative;
    height: calc(100vh - 82px);
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    @media (max-width:767px) {
        height: 90vh;
    }

    // .videoBackground {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    // }

    .imgBackground {
        position: relative;
        height: 100%;
        width: 100%;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        max-width: 1440px;
        width: 100%;
        height: 100%;
        padding: 10px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        @media (max-width:1024px) {
            flex-direction: column;
        }

        @media (max-width:767px) {
            margin-top: 40px;
        }

        >div{
            width: 50%;

            @media (max-width:1024px) {
                width: 100%;
            }
        }

        h1 {
            font-size: 5rem;
            letter-spacing: -1px;
            line-height: 70px;
            margin-bottom: 35px;

            @media (max-width:1200px) {
                font-size: 55px;
                line-height: 55px;
            }
            
            @media (max-width:767px) {
                font-size: 35px;
                line-height: 40px;
                margin-bottom: 20px;
            }

            span{
                color: $primary_blue_color;
            }
        }

        p {
            font-size: 21px;
            font-weight: 100;
            color: #fff;

            @media (max-width:1200px) {
                font-size: 18px;
                line-height: 30px;
            }
            
            @media (max-width:767px) {
                font-size: 14px;
                line-height: 24px;
            }

            span{
                color: $primary_blue_color;
            }
        }

        .btn{
            background-color: $primary_blue_color;
            color: #fff;
            font-size: 20px;
            padding: 10px 35px;
            border: 3px solid $primary_blue_color;
            border-radius: 40px;
            transition: 0.3s ease;
            cursor: pointer;

            &:hover{
                background-color: #fff;
                color: $primary_blue_color;
            }

            @media (max-width: 1023px) {
                font-size: 18px;
                padding: 10px 20px;
            }

            @media (max-width:767px) {
                display: none;
            }
        }

        .mblBtn{
            display: none;

            @media (max-width:767px) {
                display: block;
                background-color: $primary_blue_color;
                color: #fff;
                font-size: 14px;
                padding: 5px 20px;
                border: 3px solid $primary_blue_color;
                border-radius: 40px;
                transition: 0.3s ease;
                cursor: pointer;
                display: flex;
                gap: 10px;
                align-items: center;

                span{
                    margin-top: 2px;
                }
    
                &:hover{
                    background-color: #fff;
                    color: $primary_blue_color;
                }
            }
        }
    }
}


    
.hero::before{
    background-color: rgba(0, 0, 0, 0.19);
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}